@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f4ef;
    display: flex;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.left-panel {
    position: relative;
    height: 100vh;
}

.left-panel > img {
    height: 100vh;
}

.logo {
    background-color: rgba(0, 0, 0, 0.4);
    
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    
    height: 150px;
    width: 100%;

    top: 270px;
    padding: 30px;
}

.logo > img {
    width: 5rem;
    margin-right: 10px;
}

.logo h1 {
    font-family: norse-bold;
    color: white;
    font-size: 3rem;
}

.img-credits{
    position: absolute;
    text-align: center;
    color: white;
    bottom: 15px;
    font-size: 0.7rem;
    width: 100%;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.right-panel > div {
    flex: 1;
    padding-left: 50px;
}

.text-field, form {
    width: 80%;
}

.text-field, legend {
    font-size: 1.8rem;
    font-weight: bold;
}

.form-field {
    appearance: none;
    background-color: white;
    box-shadow: 0 15px 10px -15px lightgray;
}

.form-row {
    display: flex;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-row > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 50px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

button {
    background-color: #3b494c;
    color: white;
    text-align: center;
    border-radius: 3px;
}

button:hover {
    background-color: #64706c;
}

a {
    color: #e75555;
}

:invalid {
    border-color: red;
}

:focus {
    border-color: blue;
    box-shadow: 1px;
}

