@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #f5f4ef;
    display: flex;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.left-panel {
    position: relative;
    color: white;
}

.left-panel > img {
    height: 100vh;
}

.logo {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    background-color: rgba(0, 0, 0, 0.4);
    height: 150px;
    width: 100%;
    top: 270px;
}

.logo > img {
    width: 5rem;
}

.logo h1 {
    font-family: norse-bold;
    font-size: 3rem;
}

.img-credits{
    position: absolute;
    text-align: center;
    bottom: 15px;
    font-size: 0.7rem;
    width: 100%;
}

.img-credits > p > a {
    color: white;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.text-field, .text-field-2, .form-field {
    padding: 20px 0 20px 50px;
}

.text-field, .text-field-2, form {
    width: 80%;
}

.text-field, legend {
    font-size: 1.8rem;
    font-weight: bold;
}

.text-field > p, .text-field-2 > p {
    margin-top: 25px;
}

.form-field {
    appearance: none;
    background-color: white;
    margin-top: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    margin: 25px 50px 25px 0;  
}

.form-row > div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 50px;
}

label {
    font-size: 0.8rem;
    font-weight: bold;
    color: #3d4c4f;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 370px;
    padding: 5px;
    font-size: 1rem;
}

button {
    background-color: #3b494c;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

button:hover {
    background-color: #64706c;
}

.text-field-2 > p > a {
    color: #e75555;
    text-decoration: none;
}

input + span {
    position: relative;
}

.pwd-error > span {
    color: red;
    font-size: 0.8rem;
    position: absolute;
    top: 0.1rem;
}

.submitted input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

button + span {
    top: 0.5rem;
    font-size: 1rem;
    margin-left: 20px;
}

